<a href="https://colab.research.google.com/github/Ohribird/Durk/blob/main/financedatareader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import FinanceDataReader as fdr   

df = fdr.DataReader(symbol = "005930")   #참고로 수정주가 ㅇㅇ 
df

#더 자세한건 https://github.com/FinanceData/FinanceDataReade  참고

             Open   High    Low  Close    Volume    Change
Date
1998-07-22   1079   1107   1070   1082    858010       NaN
1998-07-23   1096   1109    986    987    711860 -0.087800
1998-07-24    986   1003    908    961    864250 -0.026342
1998-07-25    847    930    847    847    860060 -0.118626
1998-07-27    809    847    791    829    918890 -0.021251
...           ...    ...    ...    ...       ...       ...
2022-10-05  56900  57200  55400  56000  22458970  0.014493
2022-10-06  56700  57300  56300  56300  14944446  0.005357
2022-10-07  55900  56900  55200  56200  16886813 -0.001776
2022-10-11  54400  55700  54000  55400  21437877 -0.014235
2022-10-12  55700  57000  55200  55800  18359543  0.007220

[6000 rows x 6 columns]

In [4]:
df= fdr.DataReader(symbol = "AAPL",start= '2017')
df

             Close    Open    High     Low       Volume  Change
Date
2017-01-03   29.04   28.95   29.08   28.69  115130000.0  0.0031
2017-01-04   29.00   28.96   29.13   28.94   84470000.0 -0.0014
2017-01-05   29.15   28.98   29.22   28.95   88770000.0  0.0052
2017-01-06   29.48   29.20   29.54   29.12  127010000.0  0.0113
2017-01-09   29.75   29.49   29.86   29.48  134250000.0  0.0092
...            ...     ...     ...     ...          ...     ...
2022-10-05  146.40  144.07  147.38  143.01   79150000.0  0.0021
2022-10-06  145.43  145.81  147.54  145.22   68400000.0 -0.0066
2022-10-07  140.09  142.54  143.10  139.45   85930000.0 -0.0367
2022-10-10  140.42  140.42  141.89  138.57   74590000.0  0.0024
2022-10-11  138.98  139.75  141.34  138.24   76780000.0 -0.0103

[1454 rows x 6 columns]